# ======================
# Maven / Gradle
# ======================
target/
!**/src/main/**/target/
!**/src/test/**/target/

HELP.md

build/
!**/src/main/**/build/
!**/src/test/**/build/

# ======================
# IDEs
# ======================

## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

## Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## VS Code
.vscode/

# ======================
# OS / Env
# ======================
.env
.DS_Store
Thumbs.db
